.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  &__content {
    padding: 15px;
  }
  &--mb20 {
    margin-bottom: 20px;
  }
}
