
.grid {
    display: flex;
    justify-content: space-between;
    &--8 {
        width: calc( 66.33% - 10px );
    }
    &--6 {
        width: calc( 50% - 10px );
    }
    &--4 {
        width: calc( 33.33% - 10px );
    }
}

.grid-inner{
    display: flex;
    justify-content: space-between;
    padding: 15px ;
}